# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.Python

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
.env
**/.env

# =========================
# Logs / databases
# =========================
*.log
*.db
*.sqlite3
db.sqlite3

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
postgres_data/
docker-data/

# =========================
# Build artifacts
# =========================
build/
dist/
*.spec

# =========================
# Tests / coverage
# =========================
.coverage
htmlcov/
.cache/
.pytest_cache/
junit.xml

# =========================
# Node / frontend (если появится)
# =========================
node_modules/

# =========================
# Bot cache / sessions
# =========================
*.session
*.session-journal