version: "3.9"

services:
  db:
    image: postgres:15
    container_name: sporty_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sporty
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      zookeeper:
        condition: service_started
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

    healthcheck:
      test: [ "CMD", "bash", "-c", "nc -z localhost 9092" ]
      interval: 10s
      timeout: 5s
      retries: 12


  worker:
    build: ./worker
    container_name: sporty_worker
    env_file:
      - .env
    working_dir: /app/worker
    command: [ "python", "main.py" ]
    volumes:
      - ./worker:/app/worker
    depends_on:
      kafka:
        condition: service_healthy

  api:
    build:
      context: ./api
    container_name: sporty_api
    env_file:
      - .env
    depends_on:
      db:
        condition: service_started
      kafka:
        condition: service_healthy
    ports:
      - "8000:8000"
    restart: always

  bot:
    build:
      context: ./bot
    container_name: sporty_bot
    env_file:
      - .env
    depends_on:
      - api
    restart: always

  web:
    build:
      context: ./sporty-web
    container_name: sporty_web
    env_file:
      - .env
    depends_on:
      - api
    ports:
      - "8501:8501"
    restart: always

volumes:
  postgres_data:
